- button_path = local_assigns[:button_path]
- learn_more_merge_request_url = help_page_url('user/project/merge_requests/creating_merge_requests')

- project_tracking_data = @project ? { track_action: 'render_project_mrs_empty_list_page',
  track_label: 'project_mrs_empty_list',
  track_experiment: 'issues_mrs_empty_state' } : {}

%div{ data: project_tracking_data }
  - if show_video_component?(@project)
    .gl-text-center.gl-empty-state
      %iframe{ class: 'video-container gl-h-auto gl-w-full',
        src: 'https://www.youtube-nocookie.com/embed/muozG1gyOqg?si=TondW4RLypjd-aZz',
        title: 'Creating and submitting a merge request - The basics',
        frameborder: '0',
        allow: 'accelerometer; encrypted-media; gyroscope;',
        sandbox: 'allow-scripts allow-same-origin allow-presentation',
        allowfullscreen: true }

      %h4.gl-font-size-h-display.gl-max-w-75.gl-m-auto.gl-pt-8
        = _('A merge request (MR) is a proposal to incorporate changes from a source branch to a target branch.')
      %p.gl-max-w-75.gl-m-auto.gl-pt-4.gl-pb-5
        = _('When you open a merge request, you can visualize and collaborate on the changes before merge.')
      .gl-display-flex.gl-flex-direction-column.gl-sm-flex-direction-row.gl-justify-content-center.gl-gap-3
        - if button_path
          = link_button_to _('Create a new merge request'), button_path,
            title: _('Create a new merge request'),
            id: 'new_merge_request_link',
            variant: :confirm,
            data: { testid: 'new-merge-request-button',
              track_action: 'click_new_mr_project_mrs_empty_list_page',
              track_label: 'new_mr_project_mrs_empty_list',
              track_experiment: 'issues_mrs_empty_state' }
        = link_button_to _('Learn more about merge requests'), learn_more_merge_request_url,
          title: _('Learn more about merge requests'),
          id: 'learn_more_merge_request_link',
          target: '_blank',
          data: { track_action: 'click_learn_more_project_mrs_empty_list_page',
            track_label: 'learn_more_project_mrs_empty_list',
            track_experiment: 'issues_mrs_empty_state' }
  - else
    = render_ce 'shared/empty_states/merge_requests_without_filters', button_path: button_path
